// Specific CSS for your home-page
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.container {
    // background-color: grey;
    display: flex;
  }
  
  
  h1 {
    color: blue;
    justify-content: center;
  }
  
  p {
    color: blue;
    justify-content: center;
  }
  
