// Import page-specific CSS files here.
@import "home";

.container {
  // background-color: grey;
  display: flex;
}

.img {
  border-radius: 30px;
}

h1 {
  color: blue;
  justify-content: center;
}

p {
  color: blue;
  justify-content: center;
}

.card-body {
  color: blue;
}
