<div class="dashboard">
<h1> Dashboard </h1>
    <div class="card-resa">
        <h2 class="reservation"> Mes reservation de voiture </h2>
            <% @bookings.each do |booking|  %>
            <ul>
            <li><%= booking.car.model %></li>
            <li><%= booking.car.brand %></li>
            </ul>
            <% end %>
    </div>
    <div class="card-loc">
        <h2 class="location"> Mes voiture en location </h2>
            <% @bookings.each do |booking|  %>
            <ul>
                <li><%= @user.cars.model %></li>
            </ul>
            <% end %>
    </div>
<%= link_to 'Back', cars_path, class: 'btn btn-primary btnback' %>
</div>

<% end %>

