<h1> Dashboard </h1>

<% @bookings.each do |booking|  %>
<%= booking.car.model %>
<%= booking.car.brand %>
<% end %>

<% @bookings.each do |booking|  %>
<%= @user.cars.model %>
<% end %>
<%= link_to 'Back', cars_path, class: 'btn btn-primary' %>

