

<% @cars.each do |car| %>
<div class="card-trip">
  <div class="imgcar"> <%= cl_image_tag car.photo.key %></div>
  <div class="card-trip-infos">
    <div>
      <h2><%= car.brand  %></h2>
      <p><%= car.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= car.price_per_day %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>



